{% extends "layout.html" %}

{% block remtitle %}
View-Proffesional
{% endblock %}

{% block cont %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
{% endblock %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-danger">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Admin Dashboard</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="/admin_dashboard">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Search</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Summary</a></li>
                <li class="nav-item"><a class="nav-link" href="/admin_login">Logout</a></li>
                
            </ul>
        </div>
    </div>
</nav>
<div class="container mt-5">
    <h1 class="text-center"View Proffesional></h1>
    <div class="card">
        <div  class="card-body">
            <h5 class="card-title">Proffesional-Username  {{worker.user_name}}</h5>
            <p class="card-text">Proffesional-Experience  {{worker.worker_experience}}</p>
            <p class="card-text">Service Name  {{worker.service.service_name}}</p>
            <p class="card-text">Service-ID  {{worker.service_id}}</p>
            <p class="card-text">Proffesional-Status  {{worker.is_approved}}</p>

        </div>
    
    </div>
</div>
<div class="container mt-5">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Resume
    </button>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Resume</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    
                </div>
                <div class="modal-body">
                    <iframe src="/static/pdfs/{{worker.worker_file}}" width="100%" height="600"></iframe>
                </div>
            </div>

        </div>

    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" 
crossorigin="anonymous"></script>
{% endblock%}
